@model IEnumerable<CartItemService.Services.CartItem>

<div>
    @if (Model == null || !Model.Any())
    {
        <p>Your cart is empty.</p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                @{
                    decimal totalAmount = 0;
                }
                @foreach (var item in Model)
                {
                    decimal itemTotal = item.Price * item.Quantity;
                    totalAmount += itemTotal;
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Price</td>
                        <td>@item.Quantity</td>
                        <td>@itemTotal</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" style="text-align:right;"><strong>Total Amount:</strong></td>
                    <td><strong>@totalAmount</strong></td>
                </tr>
            </tfoot>
        </table>
    }
</div>

<style>
    .table > :not(:last-child) > :last-child > * {
        border-bottom-color: #9c99df7a;
        background-color: rgb(244 241 253);
    }
</style>
